        body{background: linear-gradient(
            90deg
            , rgb(0 0 0) 7%, rgba(13,69,98,1) 73%, rgb(92 73 87) 97%);}
         
         
         
         
         .box{position: relative;
            top: 176px;
            left: 464px;
        }
            .btn1{position: relative;
                left: 67px;
                background: linear-gradient( 
            124deg
             , #4f003b, #d60d0d00);
                color: white;
                width: 82px;
                height: 40px;
                border-radius: 7px;}


        .btn2{position: relative;
            background: linear-gradient( 
        124deg
         , #4f003b, #d60d0d00);
            color: white;
            width: 82px;
            height: 40px;
            border-radius: 7px;
            left: 214px;
        }
        .box h2{color: white;
            font-size: 55px;
        margin-left: 30px;
    }
      .box2{ 
        height: 85px;
        width: 107%;
        position: relative;
        top: 362px;
        left: -9px;}


        #box-2{
            border: 2px solid;
            position: relative;
            top: -107px;
            height: 74px;
            width: 50%;
            left: 358px;
            }
    
    .buttons{align-items: center;
        position: relative;
        width: 27%;
        height: 70px;
    }
  #ageInDays{margin-left: 222px;
    margin-top: 17px;
    color: white;
}

    @media screen and (max-width: 425px) {
        body{background:black;}
      .box h2 {margin-left: -115px;
          
        position: relative;
top:-65px;
font-size: 49px;}
        .box{left: 171px;}
.btn1{width: 156px;
    height: 63px;
    left: -113px;
    font-size: 29px;
}

        .btn2{width: 156px;
            height: 63px;
            left: 89px;
            font-size: 29px;
            top: -63px;}
    
.box2{width: 420px;}

    #box-2{width: fit-content;
    left: 11px;
border: 1px solid white;}

    #ageInDays{margin-left: 57px;
    position: relative;
left: -21px;
color: white;}
